@page "/"
@using AlignItems = Radzen.AlignItems
@*@using System.Net.Http.Json*@
@*@inject HttpClient httpClient*@


<PageTitle>صفحه اصلی</PageTitle>

<h1>صفحه اصلی</h1>

<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenButton Click=@(args => OnClick("Large button with text and icon")) Text="ثبت مشتری" Icon="add" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" />
    <RadzenButton Click=@(args => OnClick("Large button with text and icon")) Text="ورود ماشین" Icon="arrow_back" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" />
</RadzenRow>
<MudDivider/>
<br />
<br />
<br />
<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenDataGrid Data="@Elements" TItem="HomePageReportModel" AllowVirtualization="false" Style="height:400px"
                    AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="HomePageReportModel" Property="RowNumber" Title="ردیف" />
            <RadzenDataGridColumn TItem="HomePageReportModel" Property="CustomerName" Title="نام مشتری" />
            <RadzenDataGridColumn TItem="HomePageReportModel" Property="CarName" Title="خودرو" />
            <RadzenDataGridColumn TItem="HomePageReportModel" Property="CarName" Title="عملیات" />
        </Columns>
    </RadzenDataGrid>
   
</RadzenRow>

@code {
    private void OnClick(string text)
    {
    //
    }
    public class HomePageReportModel
    {
        public int RowNumber { get; set; }
        public string CustomerName { get; set; }
        public string CarName { get; set; }
    }
    private List<HomePageReportModel> Elements = new()
    {
        new (){RowNumber = 1,CarName="تیبا تیپ 2 نوک مدادی",CustomerName = "محمد یوسفیان"},
        new (){RowNumber = 2,CarName="پراید E131 زرشکی",CustomerName = "بردیا یغمایی"},
    };



    //protected override async Task OnInitializedAsync()
    //{
    //    Elements = await httpClient.GetFromJsonAsync<List<HomePageReportModel>>("webapi/periodictable");
    //}
}
