@page "/testform"
@inject IDialogService DialogService
<div class="container-fluid" dir="rtl">
    <div class="row px-3">
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">کد کالا</RadzenText>
                <RadzenTextBox Change=@(args => OnChange(args, "TextBox")) class="w-100"/>
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">نام کالا</RadzenText>
                <RadzenTextBox Placeholder="Search..." Change=@(args => OnChange(args, "TextBox with placeholder")) class="w-100"/>
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">تعداد</RadzenText>
                <RadzenTextBox @bind-Value=@value MaxLength="5" Change=@(args => OnChange(args, "TextBox with 5 maximum characters")) class="w-100"/>
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">قیمت</RadzenText>
                <RadzenTextBox @oninput=@(args => OnChange(args.Value.ToString(), "TextBox with change on every input")) class="w-100"/>
            </RadzenCard>
        </div>
    </div>
</div>

<MudButton @onclick="OpenDialog" Variant="MudBlazor.Variant.Filled" Color="Color.Primary">
    Open Simple Dialog
</MudButton>


 <MudDialog> 
     <DialogContent> 
         Dialog Content 
     </DialogContent> 
     <DialogActions> 
         <MudButton>Cancel</MudButton> 
         <MudButton Color="Color.Primary" >Ok</MudButton> 
     </DialogActions> 
 </MudDialog> 
@code {
    string value;


    private void OpenDialog()
    {
        var options = new MudBlazor.DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<MyDialog>("Simple Dialog", options);
    }
    void OnChange(string value, string name)
    {
        //
    }
}