@page "/printInvoice/{InvoiceId:guid}"

@inject IMediator mediator;
<p>@error</p>
<StiBlazorViewer Report="@stiReport" />
@code {
    private string error = "";
    [Parameter]
    public Guid InvoiceId { get; set; }
    class InvoiceItemModel
    {
        public string RowNumber { get; set; }
        public string Name { get; set; }
        public string Count { get; set; }
        public string UnitPrice { get; set; }
        public string TotalPrice { get; set; }
    }
    private StiReport stiReport = new();
    protected async override Task OnInitializedAsync()
    {
        try
        {


            StiLicense.Key = "6vJhGtLLLz2GNviWmUTrhSqnOItdDwjBylQzQcAOiHl2AD0gPVknKsaW0un+3PuM6TTcPMUAWEURKXNso0e5OFPaZYasFtsxNoDemsFOXbvf7SIcnyAkFX/4u37NTfx7g+0IqLXw6QIPolr1PvCSZz8Z5wjBNakeCVozGGOiuCOQDy60XNqfbgrOjxgQ5y/u54K4g7R/xuWmpdx5OMAbUbcy3WbhPCbJJYTI5Hg8C/gsbHSnC2EeOCuyA9ImrNyjsUHkLEh9y4WoRw7lRIc1x+dli8jSJxt9C+NYVUIqK7MEeCmmVyFEGN8mNnqZp4vTe98kxAr4dWSmhcQahHGuFBhKQLlVOdlJ/OT+WPX1zS2UmnkTrxun+FWpCC5bLDlwhlslxtyaN9pV3sRLO6KXM88ZkefRrH21DdR+4j79HA7VLTAsebI79t9nMgmXJ5hB1JKcJMUAgWpxT7C7JUGcWCPIG10NuCd9XQ7H4ykQ4Ve6J2LuNo9SbvP6jPwdfQJB6fJBnKg4mtNuLMlQ4pnXDc+wJmqgw25NfHpFmrZYACZOtLEJoPtMWxxwDzZEYYfT";
            StiFontCollection.AddFontFile("wwwroot/css/fonts/VazirMatn/fonts/ttf/Vazirmatn-Black.ttf","Vazirmatn");


            await base.OnInitializedAsync();

            var request = new GetInvoiceReportInfoRequest(InvoiceId);
            var response = await mediator.Send(request);
            stiReport.RegData("InvoiceItem", response.Items);
            stiReport.RegData("InvoiceInfo", new
            {
                CustomerName = response.CustomerTitle,
                VehicleName = response.VehicleTitle,
                VehicleCode = response.VehicleCode,
                InvoiceCode = response.InvoiceCode,
                ToPay = response.ToPay.ToString("#,##0"),
                Tax = response.Tax.ToString("#,##0"),
                Discount = response.Discount.ToString("#,##0"),
                TotalPrice = response.TotalPrice.ToString("#,##0"),
                VehiclePlate = response.VehiclePlate,
                VehicleColor = response.VehicleColor,
                InvoiceDate = response.InvoiceDate.ToPersianDateString()
            });
            this.stiReport.Load("report_templates/invoice.mrt");
        }
        catch (Exception e)
        {
            error = "خطا هنگام نشان دادن پیش نماش چاپ فاکتور";
        }

    }
}
