
@inject Radzen.DialogService dialogService
<MudRTLProvider RightToLeft="true">
    <RadzenTemplateForm TItem="Model" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>

        <RadzenRow JustifyContent="JustifyContent.SpaceBetween">

            <RadzenColumn Size="5">
                <RadzenFormField Text="عنوان" Variant="Variant.Outlined">
                    <RadzenTextBox Name="ServiceName" @bind-Value="model.ServiceName" />
                    <RadzenRequiredValidator Component="ServiceName" Text="عنوان سرویس را وارد کنید" Popup=@popup Style="position: absolute;top:40px" />

                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="5">
                <RadzenFormField Text="قیمت" Variant="Variant.Outlined">
                    <RadzenTextBox Name="ServicePrice" @bind-Value="model.ServicePrice" />
                    <RadzenRequiredValidator Component="ServicePrice" Text="قیمت سرویس  را وارد کنید" Popup=@popup Style="position: absolute;top:40px" />
                </RadzenFormField>
            </RadzenColumn>

        </RadzenRow>
        <RadzenRow JustifyContent="JustifyContent.Center" Style="margin-top:30px">
            <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Danger" Text="لغو" />
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="ثبت" />
        </RadzenRow>
    </RadzenTemplateForm>
    <p class="text-danger">@error</p>
</MudRTLProvider>

@code {
    private string error = "";
    [Parameter]
    public Func<Task> RefreshServicesGridData { get; set; }
    [Parameter]
    public Func<Task> RefreshInventoryItemsGridData { get; set; }
    List<VehicleDTO> vehicles = new();
    class Model
    {
        public string ServiceName;
        public string ServicePrice;

    }
    private Model model = new();
    bool popup = false;
    void OnSubmit(Model model)
    {

        AddService();
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }
    private async void AddService()
    {
        AddServiceRequest request = new(model.ServiceName, long.Parse(model.ServicePrice));
        var httpResponse = await httpRequestSender.SendAsync(request, "/AddService", HttpMethod.Post);
        if (!httpResponse.IsSuccessStatusCode)
        {
            error = "خطا هنگام ثبت اطلاعات";
            return;
        }
        string responseContent = await httpResponse.Content.ReadAsStringAsync();
        var response = Newtonsoft.Json.JsonConvert.DeserializeObject<AddServiceResponse>(responseContent);
        await RefreshServicesGridData();
        dialogService.Close(true);
    }


}