@using OAS.Application.DomainModels;
@using OAS.Application.Features.CustomerFeatures.AddCustomer;
@using OAS.Application.Features.InventoryFeatures.AddService;
@using Variant = Radzen.Variant
@using AlignItems = Radzen.AlignItems
@inject Radzen.DialogService dialogService
@inject MediatR.IMediator mediator;
<MudRTLProvider RightToLeft="true">
    <RadzenTemplateForm TItem="Model" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>

        <RadzenRow JustifyContent="JustifyContent.SpaceBetween">

            <RadzenColumn Size="5">
                <RadzenFormField Text="عنوان" Variant="Variant.Outlined">
                    <RadzenTextBox Name="ServiceName" @bind-Value="model.ServiceName" />
                    <RadzenRequiredValidator Component="ServiceName" Text="عنوان سرویس را وارد کنید" Popup=@popup Style="position: absolute;top:40px" />

                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="5">
                <RadzenFormField Text="قیمت" Variant="Variant.Outlined">
                    <RadzenTextBox Name="ServicePrice" @bind-Value="model.ServicePrice" />
                    <RadzenRequiredValidator Component="ServicePrice" Text="قیمت سرویس  را وارد کنید" Popup=@popup Style="position: absolute;top:40px" />
                </RadzenFormField>
            </RadzenColumn>

        </RadzenRow>
        <RadzenRow JustifyContent="JustifyContent.Center" Style="margin-top:30px">
            <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Danger" Text="لغو" />
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="ثبت" />
        </RadzenRow>
    </RadzenTemplateForm>
    <p class="text-danger">@error</p>
</MudRTLProvider>

@code {
    private string error = "";
    [Parameter]
    public Func<Task> RefreshServicesGridData { get; set; }
    [Parameter]
    public Func<Task> RefreshInventoryItemsGridData { get; set; }
    List<VehicleDTO> vehicles = new();
    class Model
    {
        public string ServiceName;
        public string ServicePrice;

    }
    private Model model = new();
    bool popup = false;
    void OnSubmit(Model model)
    {

        AddService();
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }
    private async void AddService()
    {
        try
        {
            AddServiceRequest request = new(model.ServiceName, long.Parse(model.ServicePrice));
            var response = await mediator.Send(request);
            //show success
            await RefreshServicesGridData();
            dialogService.Close(true);

        }
        catch (Exception e)
        {
            error = "خطا هنگام ثبت اطلاعات";
        }

    }


}