@inject Radzen.DialogService dialogService
<MudRTLProvider RightToLeft="true">
    <RadzenRow>
        <RadzenText TextStyle="TextStyle.H6" Style="font-family: Vazirmatn, serif">
            آیا از حذف فاکتور @InvoiceCode اطمینان دارید؟
        </RadzenText>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="6"></RadzenColumn>
        <RadzenColumn Size="3">
            <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Danger" Text="لغو" Style="width: 120px" />
        </RadzenColumn>
        <RadzenColumn Size="3">
            <RadzenButton Click=@OnClick ButtonStyle="ButtonStyle.Success" Text="بله" Style="width: 120px" />
        </RadzenColumn>
    </RadzenRow>
    <span class="text-danger">@error</span>
</MudRTLProvider>
@code {
    [Parameter]
    public string InvoiceCode { get; set; }
    [Parameter]
    public Guid InvoiceId { get; set; }
    [Parameter]
    public Func<Task> RefreshGridData { get; set; }
    private string error = "";
    private async Task OnClick()
    {
        var request = new DeleteSellInvoiceRequest(InvoiceId);
        var httpResponse = await httpRequestSender.SendAsync(request, "/DeleteSellInvoice", HttpMethod.Get);
        if (!httpResponse.IsSuccessStatusCode)
        {
            error = "خطا هنگام حذف فاکتور " + InvoiceCode;
            return;
        }
        string responseContent = await httpResponse.Content.ReadAsStringAsync();
        var response = Newtonsoft.Json.JsonConvert.DeserializeObject<DeleteSellInvoiceResponse>(responseContent);
        await RefreshGridData();
        dialogService.Close();

    }

}