@page "/"
@using AlignItems = Radzen.AlignItems

<PageTitle>Index</PageTitle>

<h1>صفحه اصلی</h1>

<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    فاکتورهای روز
</RadzenRow>
<MudDivider/>
<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center"></RadzenRow>
<MudDivider/>
<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center"></RadzenRow>
