@page "/"
@using AlignItems = Radzen.AlignItems


<PageTitle>Index</PageTitle>

<h1>صفحه اصلی</h1>

<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    فاکتورهای روز
</RadzenRow>
<MudDivider/>
<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenButton Click=@(args => OnClick("Large button with text and icon")) Text="ثبت مشتری" Icon="add" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" />
    <RadzenButton Click=@(args => OnClick("Large button with text and icon")) Text="ورود ماشین" Icon="arrow_back" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Large" />
</RadzenRow>
<MudDivider/>
<RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center"></RadzenRow>


@code
{
    private void OnClick(string text)
    {
        //
    }
}
