@page "/Vehicles"
@using OAS.Application.Features.VehicleFeatures.GetVehiclesMinimal;
@inject MediatR.IMediator mediator

<MudRTLProvider RightToLeft="true">
    <ul>
        @foreach (var c in _customers)
        {
            <li>@c.Name -- @c.Code -- @c.Id</li>
        }
    </ul>
    <p class="text-danger">@error</p>
</MudRTLProvider>



@code {
    private List<GetVehiclesMinimal_DTO> _customers = new();
    private string error = "";
    protected override async Task OnInitializedAsync()
    {
        try
        {


            var request = new GetVehiclesMinimalRequest();
            var response = await mediator.Send(request);

            var customers = response.Data;
            _customers = customers;
        }
        catch (Exception)
        {

            error = "خطا هنگام خواندن اطلاعات";
        }

    }

}